
@{
    ViewBag.Title = "InsertarPacientes";
}

<h2>Paciente ingresado exitosamente</h2>
    <a class="btn btn-success" href="/Home/Index">Home</a>
    <a class="btn btn-success" href="/Home/InsertarPaciente">Insertar Paciente</a>
    <a class="btn btn-success" href="/Home/ListarPacientes">Listar Paciente</a>

